.scroller{
    display: flex;
    gap: 0;
    justify-content: center;
        
}

.filter-section{
    display: flex;
}
.filter-section-title{
    font-size: .675em;
    
    color: var(--yellow);
    margin-bottom: 1em;
    margin-top: .3em;

    font-weight: 600;
}
