.header {
    display: flex;
    flex-direction: row;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    top: 0;
    padding: 35px 50px;
    gap: 10%;
}

.logo {
    display: flex;
    gap: 10px;
}

.logo-text {
    background: transparent;
    font-size: 20px;
    align-items: center;
}

.yellow-text {
    color: var(--yellow);
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    object-fit: fill;
}

.navbar {
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin-inline: 1%;
}

.nav-link {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.3s ease, border-radius 0.3s ease,
        color 0.3s ease;
}

.nav-link:hover {
    background-color: var(--blue);
    border-radius: 25px;
    color: var(--white);
}

.nav-link.active {
    background-color: var(--purple);
    color: var(--white);
    border-radius: 25px;
}

.icon {
    height: 18px;
    width: 18px;
}

.home-icon {
    margin-top: 5px;
}

.menu {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 60px;
    height: 40px;
    cursor: pointer;
    margin-top: 5px;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu:hover {
    background-color: var(--yellow);
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 99%;
    border-radius: 5px;
    background: var(--white);
    color: var(--black);
    padding: 20px;
    transform: translateX(120%);
    transition: transform 0.3s ease-in-out;
    z-index: 3;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar.closed {
    transform: translateX(100%);
}

.close-btn {
    display: flex;
    align-self: flex-end;
    cursor: pointer;
}

.sidebar-profile{
    display: flex;
    margin-right: 20px;
    gap: 10px;
    transform: translateY(calc(-90% - 25px));
    border-bottom: 1px solid var(--gray);
    width: 100%;
}

.user-view-label{
    margin: 0;
    padding: 0;
    transform: translateY(calc(-80% - 30px));
}

.sidebar-profile-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
}

.sidebar-profile-text p{
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

.sidebar-profile-text a{
    text-decoration: underline;
    color: var(--dark-gray);
    font-size: 15px;
}

.sidebar-profile-text a:hover{
    color: var(--blue);
}

.sidebar-profile-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    object-fit: cover; 
    margin: 0 auto; 
}


.sidebar-support{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--gray);
}

.sidebar-support-link:hover{
    border-left: 2px solid var(--blue);
}

.sidebar-support-link{
    display: flex;   
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.sidebar-support-link p{
    font-size: 20px;
    font-weight: 400;
}

.sidebar-support-link a {
    display: flex;
    align-items: center; 
    gap: 13px;
    text-decoration: none; 
    color: var(--black);
}

.logout-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--dark-gray);
  }
  
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }

  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  
  .logout-btn:hover {
    width: 100%;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .logout-btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  
  .logout-btn:hover .text {
    opacity: 1;
    width: 80%;
    transition-duration: .3s;
    margin-right: 10px;
    text-align: center;

  }
  
  .logout-btn:active {
    transform: translate(2px ,2px);
  }

  .log-out{
    margin-top: auto;
  }

  .dark-mode-toggle{
    border-bottom: 1px solid var(--gray);
  }

  .switch {
    position: relative;
    width: 100%;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    transition: 0.3s ease-in-out;
    margin-top: 7%;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.toggle {
    position: absolute;
    width: 5rem;
    height: 2rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease-in-out;
    flex-shrink: 0;
}

.dark-mode-enabled .toggle {
    transform: translateX(7.2rem);
}

.switch.dark-mode-enabled {
    background-color: var(--dark-gray);
    color: var(--yellow); 
    border-radius: 20px; 
}

input[type="checkbox"] {
    display: none;
}

.names {
    font-size: 90%;
    font-weight: bold;
    margin-inline: 11.5%;
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.dark, .light {
    opacity: 0.5;
}

.mobile-navigation{
    display: none;
}

.mobile-navigation-label{
    color: var(--gray);
}

@media (max-width: 800px){
    
    .navbar {
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }

    .mobile-navigation{
        display: block;
        border-bottom: 1px solid var(--gray);
    }
    
    .mobile-nav-link{
        display: flex;
        
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .mobile-navigation-label{
        color: var(--gray);
    }
    
    .mobile-nav-link p{
        font-size: 20px;
        font-weight: 400;
    }
    
    .mobile-nav-link a {
        display: flex;
        align-items: center; 
        gap: 13px;
        text-decoration: none; 
        color: var(--black);
    }
    
}

