.project-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.results {
  color: black;
  background: transparent;
  align-items: start;
  padding: .5em 1em;
  border-radius: .5em;
  border: 1px solid rgba(221, 218, 218, 0.5);
}

.card-text{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile{
  display: flex;
  align-items: center;
  gap: .5em;
}

.user-name{
  color: var(--black);
  text-decoration: underline;
  text-underline-offset: .3em;
  text-decoration-color: #4891c2;
  font-weight: 600;
}
.user-name:hover{
  color: #4891c2;
}
.view-btn{
  background: transparent;
  padding: .2em .5em;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  color: #4891c2e7;
  border: .5px solid #4891c29d;
  
  border-radius: .4em;
}

.view-btn:hover{
  color: rgba(0, 0, 0, 0.781);
  border: .5px solid rgba(0, 0, 0, 0.664);
}
.results-title{
  font-size: 1.6em;
  margin-bottom: .2em;
}
.results-type{
  font-weight: 600;
  color: rgba(0, 0, 0, 0.507);

}
@media (max-width:900px){
  .project-list{
    grid-template-columns: repeat(1, 1fr);
  }
}