.project-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.results {
  background-color: transparent;
  color:white;
  align-items: start;
  border-radius: 1em;
  padding: 1em;
  border: 1px solid #4891c242;
}

.card-text{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.card-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile{
  display: flex;
  align-items: center;
  gap: .5em;
}

.user-name{
  color: var(--white);
  text-decoration: underline;
  text-underline-offset: .3em;
}