
.result-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0em 2em;
  margin-bottom: 1em;
}
.results-title{
 font-weight: 600;
 font-size: 1.2em;
}
.result-nav-btn {
  background-color: transparent;
  font-weight: 600;
  color: var(--white);
  outline: none;
  border: none;
  font-size: 1em;
  text-transform: capitalize;
  cursor: pointer;

}

.nav-btns {
  flex: 1;
  border-radius: 2em;
  padding: .8em 0em;
  display: flex;
  gap: 1.5em;
}

.btn-list{
  color: var(--yellow);
  text-decoration-line: underline;
  text-decoration-color: var(--yellow);
  text-decoration-thickness: .2em;
  text-underline-offset: .5em;
}

.r-user-pic {
  border-radius: 1em;
}


.sort-btn {
  color: white;
  display: flex;
  align-items: center;
}

.sort-btn-icon {
  width: 16px;
  height: 15px;
  margin: 0em .5em;
}



.results:hover{
  border: 1px solid var(--blue);
}

.results-data {
  display: flex;
  gap: .5em;
  flex-direction: column;
  align-items: flex-start;
}

.results-section {
  background-color: #D1D1D180;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-radius: 1em;
}

.r-section-h1 {
  text-align: center;
  font-weight: 700;
}

.result-link{
  text-decoration: none;
  height: fit-content;
}


.results-type{
  opacity: 50%;
  font-size: .8em;
}

.skills-list{
  /* width: 50%; */
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
}
.MuiChip-label{
  color: white;
}
.MuiChip-outlined{
  outline-color: yellow;
  outline-width: 100px;
}

.badge{
  padding: .5em;
  font-size: .7em;
  font-weight: 700;
  color: white;
  border-radius: 2em;
  max-width: fit-content;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.315);
  color: white;
}

.no-results-title{
  width: 60vw;
}