.users-list{
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.users{
  color: black;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 1.5em;
  border-radius: .5em;
  padding: .8em 1em;
  box-shadow: 
    1px 1px 1px rgba(221, 218, 218, 0.5),      /* Top-left shadow */
    -1px 1px 1px rgba(221, 218, 218, 0.5),     /* Top-right shadow */
    1px -1px 1px rgb(221, 218, 218, .5),     /* Bottom-left shadow */
    -1px -1px 1px rgb(221, 218, 218,.5);
}

.user-details{
  display: flex;
  align-items: center;
  gap: .5em;
}
.user-text{
  flex: 1;
}

.user-portfolio-link{
  align-self: flex-start;
}
.users-data{
  display: flex;
  gap: 4em;
}

.badge{
  padding: .2em .5em;
  border-radius: .3em;
  box-shadow: 
    1px 1px 3px rgba(221, 218, 218, 0.5),      /* Top-left shadow */
    -1px 1px 3px rgba(221, 218, 218, 0.5),     /* Top-right shadow */
    1px -1px 3px rgb(221, 218, 218, .5),     /* Bottom-left shadow */
    -1px -1px 3px rgb(221, 218, 218,.5);
}

.username{
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: .2em;
}
.skills-list{
  list-style: none;
  display: flex;
  gap: .6em;
  flex-wrap: wrap;
}

.user-more-data{
  color: rgba(0, 0, 0, 0.89);;
  display: flex;
  align-items: center;
  gap: .5em;
}