.users-list{
  display: grid;
  align-items: start;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1em;
}

.pagination{
  grid-row: 4;
  grid-column: 1/4;
  justify-items: center;
  margin-bottom: 2em;
}

.skills{
  font-weight: 700;
  margin-bottom: .5em;
}

.user-details{
  display: flex;
  gap: 1em;
  align-items: center;
}
.user-text{
  flex: 1;
}

.user-portfolio-link{
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.arrow{
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}
.user-link{
  text-decoration: none;
  color: white;
}
.users{
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #4891c242;
}
.username{
  font-weight: 800;
  margin-bottom: .5em;
}
.role{
  color: var(--gray);
}

.users-data{
  display: flex;
  flex: 1;
  gap: .5em;
  justify-items: center;
}

.user-more-data{
  font-size: .8em;
  padding: .5em;
  border-radius: .5em;
  backdrop-filter: blur(20px);
  box-shadow: 1px -1.5px var(--blue);
  text-align: center;
  color: var(--gray);
}
.location{
  flex: 1;
}
.text-p{
  margin-bottom: 3px;
  font-weight: 700;
}
@media (max-width:900px){
  .users-list{
    grid-template-columns: repeat(1, 1fr);
  }
}