.basic-info-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.skills-container{
    height: 100%;
}

.top-form-container, .skills-form {
  display: flex;
  gap: 10%;
  margin: 0 auto;
}

.basic-info-form label {
  color: #404040;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 9px;
}

.top-form-container .right-form-group {
  margin-top: 7px;
}

.required-asterisk {
  color: red;
}

.basic-info-form input,
.basic-info-form select,
.footer-form-container textarea,
.skills-form input,
.skills-form select,
.chosen-tech-stack label,
.career-form-container input,
.testimonials-form input,
.links-form input,
.status-form-container select,
.status-form-container input {
  background-color: var(--white);
  color: #404040;
  padding: 7px;
  border: 2px solid var(--progress-bar-gray);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 16px;
}

.basic-info-form input:focus,
.basic-info-form select:focus,
.footer-form-container textarea:focus,
.skills-form input:focus,
.skills-form select:focus,
.chosen-tech-stack label:focus,
.career-form-container input:focus,
.testimonials-form input:focus,
.links-form input:focus,
.status-form-container select:focus,
.status-form-container input:focus {
  box-shadow: 0 0 3px rgba(2, 127, 185, 0.5);
  border-color: var(--navy-blue);
  outline: none;
}

.basic-info-form select {
  width: 120px;
}

.basic-info-form input, .skills-form input {
  width: 600px;
}

.profile-picture-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
  background-color: #e5e5e5;
  width: 140px;
  border-radius: 50%;
  border: 2px solid var(--progress-bar-gray);
  margin: 0 auto;
}

.profile-picture-form input {
  width: 80%;
  padding: 4px;
  border-radius: 6px;
  font-size: 12px;
}

.remove-profile-pic-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: red;
  color: var(--white);
  border: none;
  cursor: pointer;
}

.footer-form-container textarea {
  width: 110%;
  height: 70px;
}

/* Skills Form */
.skills-dual-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

.skills-dual-input input {
  width: 300px;
  padding: 7px;
  border: 2px solid var(--progress-bar-gray);
  border-radius: 8px;
  font-size: 16px;
}

.custom-dropdown-wrapper {
  position: relative;
  width: 100%;
}

.custom-dropdown-toggle {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  font-size: 0.95rem;
}

.skills-dropdown {
  width: 100%;
  position: absolute;
  z-index: 10;
  background: white;
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 6px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 12px;
  overflow-x: auto;
  max-width: fit-content;
}

.skills-category {
  margin-bottom: 1rem;
}

.skills-category-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.skills-labels-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.custom-dropdown-wrapper .badge-default:hover {
  background-color: var(--navy-blue);
  color: var(--white);
  cursor: pointer;
}

.tech-stack-form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 25px;
    min-height: 270px;
}

.chosen-tech-stack {
  display: flex;
  gap: 30px;
}

.chosen-tech-stack label{
    width: 180px;
    color: var(--navy-blue);
}

.chosen-tech-stack select{
    width: 120px;
}

.badge-active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.remove-tech-button, .remove-entry-button, .remove-client-button {
  background: none;
  border: none;
  font-size: 25px;
  color: red;
  cursor: pointer;
  transition: color 0.2s;
}

.remove-tech-button:hover {
  color: #a94442;
}

/* Career Form */

.career-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.career-form-container .skills-dual-input input{
    width: 440px;
}

.career-form-projects{
    min-height: 330px;
}

.career-form-projects-entries-container{
    margin-top: 20px;
}

.career-projects-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 320px;
    background-color: var(--progress-bar-gray);
    border-radius: 12px;
}

.career-projects-upload button, .testimonial-upload button {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--white);
    color: var(--navy-blue);
    border: none;
    cursor: pointer;
    font-size: 16px; 
    transition: background-color 0.3s, color 0.3s;
}

.career-projects-upload button{
    margin-top: 20px;
}

.career-projects-upload button:hover, .testimonial-upload button:hover {
    background-color: var(--navy-blue);
    color: var(--white);
}

/* Testimonials */

.testimonials-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.testimonials-form input{
    width: 400px;
}

.remove-client-button{
    margin-left: 20px;
}

.testimonials-form-container{
    min-height: 350px;
}

.testimonial-upload-container{
    margin-top: 20px;
}

.testimonial-upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 320px;
    background-color: var(--progress-bar-gray);
    border-radius: 12px;
}

.testimonial-upload button{
    margin-top: 10px;
}

/* Links */
.links-form-group{
    min-height: 440px;
}

.links-form-group input{
    width: 450px;
}

/* Status Form */

.status-form-container{
  min-height: 450px;
}

.status-form-container input{
    width: 400px;
}

.status-form-container select{
    width: 180px;
}

.status-form-container .form-group.inactive {
  opacity: 0.5;
  pointer-events: none;
}