.stepper-container{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 92vw;
    height: fit-content;
    background-color: var(--white);
    padding: 10px 5px;
    margin-left: 3.5%;
    border: 2px solid var(--gray);
    border-radius: 12px;
    color: #404040;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.dark-mode .stepper-container{
    background-color: var(--dark-blue);
    color: var(--white);
    border: 2px solid var(--dark-blue);
}

.steps{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    border-radius: 10px;
    height: 120px;
    width: 50%;
    position: relative;
    cursor: pointer;
}

.steps:hover .step-text{
    border-radius: 10px;
    border: 1px solid var(--light-blue);
    padding: 5px;
}

.step-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 18px;
    margin-left: 3px;
    transition: border 0.3s, border-radius 0.3s, padding 0.3s;
}

.steps h3{
    color: var(--navy-blue);
    font-size: 16px;
}

.steps p{
    font-size: 14px;
}

.step-progress{
    height: 15px;
    width: 90%;
    background-color: var(--progress-bar-gray);
    clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
    position: absolute;
    top: 0;
    transition: background-color 0.3s;
}

.steps.active-step .step-text{
  background-color: rgb(2, 127, 185, 0.2);
  padding: 7px;
  border-radius: 10px;
}

.step-progress.visited {
    background-color: var(--dark-cerulean); 
}

.step-progress.incomplete {
    background-color: var(--progress-bar-orange);
}
