/* .sort-container{
  display: flex;
  color: #000000;
  align-items: center;
  gap: 12px;
}
 */


/* .select-wrapper {
  position: relative;
} */

.select-control {
  appearance: none;
  background-color: var(--white);
  border: 1px solid var(--dark-cerulean);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  width: 280px;
}

.dark-mode .select-control {
  background-color: var(--dark-mode-blue);
  color: var(--dark-mode-alt-white);
  border: 1px solid var(--dark-cerulean);
}

.select-control:focus {
  outline: none;
  border-color: var(--dark-cerulean);
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.select-wrapper::after {
  content: '';
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #666;
  pointer-events: none;
}


