* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}


.portfolio-body{
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.people-intro{
  height: 50vh;
  width: 99vw;
  background-image: 
    linear-gradient(to top, 
      rgb(255, 255, 255, 0.8) 0%,       
      rgb(255, 255, 251, 0.5) 50%, 
      rgba(249, 250, 251, 0.3) 70%,
      rgba(249, 250, 251, 0.1) 90%,
      rgba(249, 250, 251, 0.1) 100%
    ), 
    url("./assets/theone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dark-mode .people-intro{
  background-image: 
    linear-gradient(to top, 
      rgb(4, 34, 61, 0.8) 0%,       
      rgb(4, 34, 61, 0.5) 50%,
      rgb(4, 34, 61, 0.3) 70%,     
      rgb(4, 34, 61, 0.1) 90%,     
      rgb(4, 34, 61, 0.1) 100%
    ), 
    url("./assets/theone.jpg");
}

.theTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-blue);
  
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 65px;
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 40px;
}

.dark-mode .theTitle {
  color: var(--dark-mode-alt-white);
}

.peopleDescription{
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: var(--dark-blue);
}

.dark-mode .peopleDescription {
  color: var(--dark-mode-alt-white);
}

.selection-banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 85px;
  height: max-content;
  background: rgb(255, 255, 255, 0.8);
  /* box-shadow: 0px 5px 6px 6px rgba(0, 0, 0, 0.2); */
}

.dark-mode .selection-banner {
  background: #04223D
}

.people-view-container {
  display: flex;
  justify-content: center; /* Center the people-view buttons */
  flex-grow: 1; /* Allow the container to take up available space */
}


.people-view{
  /* display: flex; */
  all: unset;
  border: 1px solid transparent;
  border-radius: 7px;
  padding: 8px 20px;
  margin: 10px;
  color: var(--dark-blue);
  background: var(--white);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.1) ;
}

.dark-mode .people-view{
  background: var(--dark-blue);
  color: var(--white);
  border: 1px solid var(--white);
}

.people-view.active{
  border: 1px solid var(--dark-blue);
}

.dark-mode .people-view.active{
  border: 2px solid var(--yellow);
}

.sort-button-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-left: -90px;
  height: 100%;
}

.sort-button-container label{
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.dark-mode .sort-button-container label{
  color: var(--white);
}

.sort-button {
  height: 100%;
  background:  var(--dark-blue);
  padding: 8px 20px;
  margin: 10px 0 10px 0px;
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.1) ;
}

.sort-button:hover {
  background-color: var(--white);
  color: var(--dark-blue);
}

.portfolio-view-container{
  background-color: var(--white);
  border-radius: 25px;
  margin: 30px 30px 30px 120px;
}

.dark-mode .portfolio-view-container {
  background-color: #052B4C;
}

.cards {
  display: flex;
  place-content: center;
  margin: 30px 30px;
  height: max-content;
}
.carousel {
  display: flex;
}

.tech-label{
  font-size: 20px;
  margin-block: 20px;
  font-weight: bolder;
}

.tech-stack-portfolio{
  transform: translateY(calc(10% - 70px));
}

.carousel .carousel-navigation {
  color: var(--dark-blue);
  background-color: white; /* adds clean base */
  outline: none;
  margin: auto 3.5rem;
  font-size: 24px; /* slightly smaller for subtlety */
  font-weight: 600; /* more defined weight */
  padding: 0.8rem;
  height: max-content;
  cursor: pointer;
  border: 2px solid var(--dark-blue); /* thinner, sleeker */
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
  transition: all 0.3s ease-in-out;
}

.dark-mode .carousel-navigation{
  background-color: #052B4C;
  color: var(--white);
  border: 2px solid var(--white);
}

.carousel .carousel-navigation:hover {
  background-color: var(--dark-blue);
  color: white;
  transform: scale(1.05);
}

.carousel .carousel-navigation:active {
  transform: scale(0.95);
}

.carousel .carousel-navigation svg {
  display: block;
  margin: auto;
}

.view-filter {
  margin-top: 40px;;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-dropdown {
  height: fit-content;
  padding: 10px 15px;
  /* margin: 10px; */
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background-color: var(--gray);
  color: var(--dark-blue);
  cursor: pointer;
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  transform: translateX(calc(100% + 80px));
  z-index: 2;
}

.custom-dropdown:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

.custom-dropdown:focus {
  box-shadow: 0px 0px 6px rgba(52, 152, 219, 0.7);
}

.portfolio-card {
  margin-top: 35px;
  width: 500px;
  height: 450px;
  background: var(--dark-blue);
  border-radius: 32px;
  padding: 3px;
  position: relative;
  box-shadow: #604b4a30 0px 70px 30px -50px;
  transition: all 0.5s ease-in-out;
}

.portfolio-card .mail {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  background: transparent;
  border: none;
}

.portfolio-card .mail svg {
  color: var(--white);
}

.portfolio-card .mail svg:hover {
  color: #74a4d8;
}

.portfolio-card .profile-pic {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid var(--white);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.portfolio-card .profile-pic img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.portfolio-card .profile-pic svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}

.portfolio-card .bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: var(--dark-blue);
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.portfolio-card .bottom .content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
  margin-bottom: 32%;
}

.portfolio-card .bottom .content .name {
  display: block;
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

.portfolio-card .bottom .content .about-me {
  display: block;
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
  text-align: left;
}

.portfolio-card .bottom .bottom-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio-card .bottom .bottom-bottom .social-links-container {
  display: flex;
  gap: 1rem;
}

.portfolio-card .bottom .bottom-bottom .social-links-container svg {
  height: 20px;
  fill: white;
  filter: drop-shadow(0 5px 5px rgba(165, 132, 130, 0.1333333333));
}

.portfolio-card .bottom .bottom-bottom .social-links-container svg:hover {
  fill: #74a4d8;
  transform: scale(1.2);
}

.portfolio-card .bottom .bottom-bottom .button {
  background: white;
  color: #5c8ac4;
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
  width: 100px;
  height: 40px;
}

.portfolio-card .bottom .bottom-bottom .button:hover {
  background: #74a4d8;
  color: white;
}

.portfolio-card:hover {
  border-top-left-radius: 55px;
}

.portfolio-card:hover .bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.portfolio-card:hover .profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid var(--gray);
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
}

.portfolio-card:hover .profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.portfolio-card:hover .profile-pic img {
  transform: scale(2.5);
  -o-object-position: 0px 25px;
  object-position: 0px 25px;
  transition: all 0.5s ease-in-out 0.5s;
}

.portfolio-card:hover .profile-pic svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}

.contact-modal-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:100px 200px;
  background: var(--white);
  border-radius: 2rem;
}

.contact-modal-close{
  position: absolute;
  top: 190px;
  right: 500px;
  font-size: 20px;
  background: transparent;
  border: none;
}

/* .sort-button {
  width: fit-content;
  display: block;
  padding: 10px 15px;
  background-color: var(--gray);
  color: var(--dark-blue);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  transform: translateX(calc(100% + 80px));
  z-index: 0;
} */

/* .sort-button:hover {
  background-color: var(--dark-blue);
} */
