@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --white: #FFFFFF;
    --yellow: #FFE500;
    --blue: #2B5876;
    --light-blue: #027FB9;
    --purple: #4e4376;
    --gray: #D1D1D1;
    --black: #000000;

    /* Dark Mode Colors */
    --dark-yellow: #E2BF00;
    --dark-blue: #084677;
    --dark-gray:   #e7e5e4;
}

/* Don't Change anything here */
body{
    /* background: linear-gradient(0deg, #F9FAFB 100%); */
    background: linear-gradient(90deg, #F9FAFB 0%, #E5E5E5 100%);
    background-attachment: fixed;
    background-size: cover;
    font-family: "Hanken Grotesk", sans-serif;
    color: var(--white);
    transition: 0.5s ease-in-out;
    
}

body.dark-mode {
    background: linear-gradient(-20deg, #10212b 0%, #241b34 100%);
    transition: 0.5s ease-in-out;
}

.app-layout{
    display: flex;
    flex-direction: row;
}

.app-layout-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

::-webkit-scrollbar{
    width: 7px;
    background-color: var(--blue); 
}

::-webkit-scrollbar-track{
    margin-block: 1em;
}

::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: var(--white);
    padding-top: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--dark-yellow);
}