.userprofile-body{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #d9dbde;
border-radius: 1.5rem;
padding: 20px;
width: 80%;
margin: 20px auto;
box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.portfolio-layout {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  gap: 3rem; 
  margin: 20px; 
}
  
  /* Main Content Styles */
  .project-container {
    flex: 0.7; 
    background-color: white;
    border-radius: 1.5rem;
    min-height: 555px;
    padding: 20px;
}
  
  .main-content {
    width: 50%;
    height: 90%;
    /* margin-top: 10px; */
    margin-left: 30%;
    padding: 20px;
  }
  
  /* Navigation Bar */
  .nav-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  /* .about-section{
    min-height: 110px;
    width: 50%;
    margin-left: 35%;
    padding: 10px;
    gap: 10px;
    margin-bottom: 20px;
  } */

  .about-section{
    min-height: 110px;
    width: 50%;
    margin-left: 20%;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 1rem;
    /* margin-right: 90px; */
    margin-top: 10px;
  }
  
  /* Grid Content */
  .grid-content {
    margin-top: 30px;
    margin-right: 70px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    height: 100%;
  }
  
  .grid-item {
    width: 200px;
    height: 130px;
    background-color: #a0aec0;
    border-radius: 8px;
  }
  
  /* Grid Content */
  .grid-content {
    margin-top: 30px;
    margin-right: 70px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    height: 100%;
  }
  
  .grid-item {
    width: 200px;
    height: 130px;
    background-color: #a0aec0;
    border-radius: 8px;
  }
  







