/* Container for the user profile information */
.layout-body{
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 800px;
  margin-left: 5%;
  margin-top: 20px;
  border-radius: 1.5rem;
  background-color: #e2e2e2;
}



.portfolio-layout{
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    gap: 5px; 
    margin: 30px; 
}
  
  
  /* Main Content Styles */


  .project-container {
    background: linear-gradient(to bottom, #f3f4f6, #e5e7eb);
    border-radius: 1.5rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    min-height: 750px;
    width: 850px;
    padding: 20px;
}
  
  .main-content {
    width: 50%;
    height: 50%;
    margin-left: 30%;
    margin-top: 10px;
    padding: 20px;
    border-top:#027FB9 0.5px solid;
  }

  .main-content h2{
    color:#027FB9;
    font-size: larger;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  

  .about-section{
    min-height: 110px;
    width: 65%;
    margin-left: 150px;
    padding: 10px;
    background-color: white;
    color: #027FB9;
    border-radius: 1rem;
    margin-top: 10px;
  }
  
  .testimonial-section {

    /* margin: 30px 30px 50px 30px; */
    /* margin-top: 30px; */
    /* margin-right: 60px; */
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    height: 150px;
    width: 250px;
    margin-left: 290px;
    margin-top: 90px;
    margin-bottom: 30px;
  }

  
  /* Grid Content */
  .grid-content {
    margin-top: 30px;
    margin-right: 60px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    height: 60%;
    width: 100%;
  }
  
  .grid-item {
    width: 50px;
    height: 60px; 
    background-color: #a0aec0;
    border-radius: 16px;
}
  







