.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 598px;
  gap: 15px;
}

.content {
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  /* height: 83.7vh; */
  color: #072549;
}
.dark-mode .content{
  color: #ffffff;
}

.home-content{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: #072549;
  
  font-size: 1.2rem;
}
.dark-mode .home-content{
  color: var(--dark-mode-paragragh-white);
}

#theTitle {
  flex-wrap: nowrap;
  width: 56rem;
  font-size: 64px;
  line-height: 85px;
  text-align: center;
  font-weight: 700;
  color: var(--dark-blue);
}
.dark-mode #theTitle{
  color: var(--dark-mode-title-white);
}

.content h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 400;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-top: 50px;
}

.home-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100px;
  width: 1000px;
}

.home-bottom p{
  margin: 0;
}

.cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  width: 35%;
  height: 53px;
  padding: 21px 30px;
  background: var(--button-blue);
  color: var(--white);
  border: none;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dark-mode .cta-button{
  background: var(--dark-blue);
  color: var(--dark-mode-title-white);
}

.cta-button:hover {
  background-color: var(--button-blue-hover);
}
.dark-mode.cta-button:hover {
  background-color: var(--dark-mode-ctaButton);
}

/* Carousel Styling */

.home-carousel-wrapper{
  /* position: relative; */
  display: flex;
  width: 240%;
  height: max-content;
  overflow: hidden;
  margin-block: 20px;
  margin-left: 14.2%;
}


.home-carousel {
  display: flex;
  gap: 40px;
  width: max-content;
  height: max-content;
  animation: logo-slider 40s linear infinite;
}

.home-carousel-item {
  position: relative;
  width: 280px; 
  height: 350px; 
  overflow: hidden;
  border-radius: 10px;
  /* animation: 10s logo-slider infinite linear ; */
}

.home-carousel:hover{
  animation-play-state: paused;
}

.home-carousel-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.home-carousel-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px; 
  background: linear-gradient(180deg, rgb(0, 0, 0, 0) 0%, rgb(0,0,0) 50%, rgb(0,0,0,1) 100%); 
  color: white;
  text-align: start;
  opacity: 0;
  transform: translateY(20px); 
  height: fit-content;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.home-carousel-item:hover .home-carousel-item-text {
  opacity: 1;
  transform: translateY(0);
}

.home-carousel-item-text h3{
  color: var(--white);
  font-size: 25px;
}

.home-carousel-item-text p{
  font-size: 18px;
  font-weight: 300;
}

.home-carousel-item-text h3,
.home-carousel-item-text p {
    margin: 2px 0; 
    padding: 0;
    line-height: 1.9; 
}

/* Video Carousel for Projects */

.video-carousel {
  margin-left: 40%;
  /* overflow: hidden; */
  margin-block: 20px;
  position: relative;
  width: 1200px; /* Ensures no overflow issues */
}

.video-track {
  display: flex;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.video-item {
  flex-shrink: 0;
  width: 600px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out, opacity 0.7s ease-in-out;
}


/* Animate the top card sliding/fading left */
.video-item.slide-left {
  transform: translateX(-120px) scale(0.95);
  opacity: 0;
}

/* Image styling */
.video-item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 25px;
  margin: 0 auto;
  display: block;
}



/* .video-item img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
} */

.video-item-text {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px; 
  background: linear-gradient(180deg, transparent 0%, rgb(0, 0, 0, 0.4) 100%); 
  color: white;
  align-items: center;
  text-align: start;
  opacity: 0;
  transform: translateY(20px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 25px;
}

.video-see-more:hover {
 color: var(--yellow);
 cursor: pointer;
}

.video-item:hover .video-item-text {
  opacity: 1;
  transform: translateY(0);
}

.video-item-text h3{
  font-size: 25px;
}

.video-item-text p{
  font-size: 16px;
  font-weight: 300;
  padding-right: 30px;
}

.video-item-text h3,
.video-item-text p {
    margin: 2px 0; 
    padding: 0;
    line-height: 1.8; 
}

.video-header h2{
  color: var(--dark-blue);
  font-size: 50px;
  margin-block: 25px;
  font-weight: bold;
}

.video-bottom{
  margin-block: 25px;
  height: 180px;
}

.video-cta-button{
  text-wrap: nowrap;
}

/* Modal Code */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: var(--dark-blue);
}

.modal-content {
  background: var(--white);
  padding: 2rem;
  max-width: 550px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow-y: hidden;
  max-height: 95vh;
  border: 2px solid #A3A3A3;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.2rem;
  background: transparent;
  color: var(--dark-blue);
  border: none;
  cursor: pointer;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.modal-header h2{
  font-size: 1.7rem;
}

.modal-owner-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal-owner-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  image-rendering: optimizeQuality;
}

.modal-owner{
  font-size: 1.1rem;
  padding-block: 5px;
}

.modal-technologies{
  font-size: 1.2rem;
  margin-top: 15px;
  color: var(--blue);
}

.modal-description{
  font-size: 1.05rem;
  margin-top: 20px;

}

.modal-project-link{
  background-color: var(--white);
  padding: 10px 40px;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.modal-project-link:hover{
  background-color: var(--dark-blue);
  color: var(--white);
  transition: background-color 0.3s ease;
}

.modal-project-link:hover a{
  color: var(--white);
}

.modal-project-link a{
  text-decoration: none;
  color: var(--dark-blue);
  margin-block: 10px;
  font-size: 0.9rem;
}

/* Modal Dark Mode */
.dark-mode .modal-overlay{
  color: var(--dark-mode-title-white);
}

.dark-mode .modal-content{
  background: linear-gradient(180deg, #04223D 0%, #02111E 100%);
  color: var(--dark-mode-title-white);
}

.dark-mode .modal-close{
  color: var(--dark-mode-title-white);
}

.dark-mode .modal-owner{
  color: var(--dark-mode-title-white);
}

.dark-mode .modal-technologies{
  color: var(--dark-mode-title-white);
}

.dark-mode .modal-project-link{
  background-color: var(--dark-mode-alt-white);
  color: var(--dark-mode-alt-white);
  border: 1px solid var(--white);
}


.dark-mode .modal-project-link:hover{
  background-color: var(--white);
  transition: background-color 0.3s ease;
}

.dark-mode .modal-project-link:hover a{
  color: var(--dark-blue);
}


@keyframes logo-slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}