.mobile-availability {
  display: none;
}
.mobile-filter {
  display: none;
}

.filter-modal {
  position: absolute;
  padding: 10px;
  width: 99vw;
  background: var(--dark-mode-title-white);
  border-radius: 10px;
  z-index: 200;
}
.filter-heading {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.dark-mode .filter-modal {
  background: #04223d;
  color: var(--white);
}

@media screen and (max-width: 500px) {
  .search-tabs {
  }
  .mobile-sort {
    display: none;
  }
  .input-container input[type="text"]::placeholder {
    font-size: 1rem;
  }
  .input-container input[type="text"] {
    font-size: 1rem;
  }
  .desktop-filter {
    display: none;
  }
  .mobile-availability {
    display: flex;
  }

  .mobile-filter {
    display: flex;
    align-items: center;
    color: var(--black);
    text-underline-offset: 3px;
    gap: 10px;
    padding: 0px 10px;
  }

  .dark-mode .mobile-filter {
    color: var(--white);
  }

  .filter-text {
    text-decoration: underline;
  }
  .filter-tag-container {
    display: none;
  }

  .filter-dropdown {
    padding-bottom: 5px;
    gap: 4px;
  }

  .filter-container {
    margin-inline: 0px;
  }
  .placeholder {
    font-size: large;
  }
  .dark-mode .button {
    border: none;
  }
  .popoverContainer button {
    width: 80vw;
    border: none;
  }

  .popoverContent {
    width: 93%;
    box-shadow: none;
  }

  .close-filter {
    background: none;
    font-size: larger;
    border: none;
    color: var(--white);
    cursor: pointer;
  }
  .filter-section {
    box-shadow: none;
    gap: 10px;
    padding-inline: 0px;
  }
  .results-container {
    max-width: initial;
    border-radius: 2px;
    width: 100vw;
    padding: 10px;
  }
  .no-results {
    width: initial;
    height: initial;
    padding: 1em;
  }

  .results-responsive {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: start;
    gap: 10px;
  }

  .card-skeleton {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }
}


