@media screen and (max-width: 500px) {
  .results-responsive {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: start;
  }

  .results-container {
  }
  .filter-section {
    flex-direction: column;
  }
  .mobile-search {
    justify-content: start;
    justify-items: start;
    align-items: center;
    align-content: center;
  }
  .app-layout {
    display: block;
    margin: 0;
    padding: 0;
  }
  .app-layout-body {
    justify-content: start;
    align-items: start;
    display: block;
    margin: 0;
    padding: 0;
  }
  .input-container {
    width: 90%;
  }

  .flex-col {
    display: block;
  }
}
