/* === Buttons & Badges === */
.btn-tab {
  color: rgba(0, 0, 0, 0.61);
  font-size: 1.5em;
  padding: 0.5rem;
  border-radius: 0.4em 0.4em 0 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-tab-active {
  background: white;
  color: rgb(0, 0, 0);
  border: 1px solid rgba(221, 218, 218, 0.2);
  border-bottom: none;
}

.btn-view {
  background: transparent;
  padding: 0.2em 0.5em;
  font-weight: 700;
  cursor: pointer;
  color: #4891c2e7;
  border: 0.5px solid #4891c29d;
  border-radius: 0.4em;
}

.btn-view:hover {
  color: rgba(0, 0, 0, 0.781);
  border: 0.5px solid rgba(0, 0, 0, 0.664);
}

.badge-default {
  padding: 12px;
  border-radius: 0.3em;
  border: 1px solid #D0D5DD;
}
