/* === Layout Utilities === */
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 328px);
  justify-content: center;
  gap: 24px;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  gap: 15px;
}

.flex-row-center {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.flex-wrap-gap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
}

.flex-gap-large {
  display: flex;
  gap: 4em;
}

.flex-col-fill {
  display: flex;
  flex-direction: column;
}

.results-body {
  margin: 4em 2em;
}

.result-header {
  display: flex;
  justify-content: space-between;
}

.nav-group {
  display: flex;
  gap: 0.3em;
}