/* === Layout Utilities === */
.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 328px);
  justify-content: center;
}

.gap-24-px{
  gap: 24px;
}

.gap-10-px{
  gap: 10px;
}

.align-items-center{
  align-items: center;
}

.justify-items-center{
  justify-items: center;
}

.flex-row{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-row-between {
  justify-content: space-between;
}

